<p style="color: green"><%= notice %></p>

<%= render @model %>

<div>
  <%= link_to "Edit this model", edit_model_path(@model), class: "btn btn-warning" %> <%= button_to "Destroy this model", @model, method: :delete, class: "btn btn-danger" %>
</div>
