<div id="<%= dom_id force_unit %>">
  <p>
    <strong>Force:</strong>
    <%= force_unit.force.name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= force_unit.unit.name %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= force_unit.cost %>
  </p>
</div>
