<h1>Editing force unit</h1>

<%= render "form", force_unit: @force_unit %>

<br>

<div>
  <%= link_to "Show this force unit", @force_unit %> |
  <%= link_to "Back to force units", force_units_path %>
</div>
