$range-2-bg: #EE721F;
$range-4-bg: #FDE64C;
$range-6-bg: #E73430;
$range-8-bg: #00A143;
$range-10-bg: #009FE0;
$range-12-bg: #000000;

$range-2-fg: #000000;
$range-4-fg: #000000;
$range-6-fg: #000000;
$range-8-fg: #000000;
$range-10-fg: #000000;
$range-12-fg: #ffffff;

@font-face {
  font-family: ReviolaScriptRegular;
  src: url("reviola-script.regular.otf");
}

h1, h2 {
  font-family: ReviolaScriptRegular;
  text-transform: uppercase;
}
