<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/products/">Products</a></li>
    <li class="breadcrumb-item"><%= link_to @product.name, @product %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>

<h1>Editing product</h1>

<%= render "form", product: @product %>
